/*
 Fonts
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,800&subset=latin-ext");

/*
 Variables
*/
$mainFont: "Lato";
$headersFont: "Raleway";
$columns: 12;
$padding: 15px;
$radius: 3px;
$colors: (
  primary: #2ec4b6,
  secondary: #011627,
  error: #e71d36,
  warning: #ff9f1c,
  success: #28a745,
  info: #117a8b
);

/*
 Global
*/
* {
  outline: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font: 16px/150% $mainFont, sans-serif;
  background: #fdfffc;
  color: #111;
}

a {
  color: map-get($colors, primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: map-get($colors, primary);
  }
}

a, button, input, textarea {
  transition: all .2s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headersFont;
}

img {
  max-width: 100%;
}

/*
 Grids
*/
.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  clear: both;

  &.full {
    max-width: 100%;
  }
}

.row {
  margin: 0 -#{$padding};
  clear: both;

  &--center {
    text-align: center;

    .col {
      display: inline-block;
      text-align: left;
      float: none;
    }
  }
}

.col {
  width: 100%;
  float: left;
  padding: 0 $padding;

  &.no-padding {
    padding: 0;
  }
}

@mixin grid($name) {
  @for $i from 1 through $columns {
    .col--#{$name}#{$i} {
      width: (100 / ($columns / $i)) * 1%;
    }
  }
}

@include grid("sm");

@media print, screen and (min-width: 40em) {
  @include grid("md");
}

@media print, screen and (min-width: 64em) {
  @include grid("lg");
}

/*
 Forms
*/
label {
  display: block;
}

input,
textarea {
  border: 1px solid #eee;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: $radius;

  &:focus {
    border-color: map-get($colors, primary)
  }
}

textarea {
  margin-bottom: 10px;
  min-height: 100px;
  resize: vertical;
}

.btn {
  color: #fff;
  padding: 10px 15px;
  border: none;
  display: inline-block;
  margin: 0 10px 10px 0;
  cursor: pointer;
  border-radius: $radius;
  font-size: 14px;
  text-transform: uppercase;
  font-family: $mainFont;

  @each $name, $value in $colors {
    &--#{$name} {
      background: $value;

      &:hover,
      &:active,
      &:disabled {
        background: darken($value, 5%);
        color: #fff;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  .spinner {
    margin-left: 10px;
    
    &__dots {
      fill: #fff;
    }
  }
}

.btn-group {
  .btn {
    margin: 10px 0;
    border-radius: 0;

    &:first-child {
      border-radius: $radius 0 0 $radius;
    }

    &:last-child {
      border-radius: 0 $radius $radius 0;
    }
  }
}

form {
  .btn {
    margin-top: 10px;
  }
}

/*
 Lists
*/
.inline {
  li {
    display: inline-block;
  }
}

/*
 Text
*/
p {
  display: block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/*
 Display helpers
*/
.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

/*
 Alerts
*/
.alert {
  padding: 15px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
  position: relative;
  border-radius: $radius;
  clear: both;

  a {
    color: #fff;

    &:hover {
      opacity: .8;
    }
  }

  @each $name, $value in $colors {
    &--#{$name} {
      background: $value;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 10px;
    background: none;
    color: #fff;
    font-size: 23px;
    border: none;
    cursor: pointer;
  }
}

/*
 Badge
*/
.badge {
  padding: 3px 5px;
  font-size: 10px;
  color: #fff;
  line-height: 10px;
  display: inline-block;
  border-radius: $radius;

  @each $name, $value in $colors {
    &--#{$name} {
      background: $value;
    }
  }
}

/*
 Spinner
*/
.spinner {
  width: 100%;
  
  &--small {
    width: 25px;
  }
  
  &--medium {
    width: 50px;
  }
  
  &--large {
    width: 150px;
  }

  svg {
    overflow: visible;
  }
  
  &__dots {
    width: 100%;
    display: block;
    margin: 0 auto;
    fill: #333;

    circle {
      animation-name: upAndDown;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      animation-iteration-count: infinite;

      &:nth-child(2) {
        animation-delay: .18s;
      }

      &:nth-child(3) {
        animation-delay: .36s;
      }
    }
  }
}

@keyframes upAndDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

/*
 Table
*/
.table {
  width: 100%;
  border-collapse:collapse;
  box-shadow: 0px 0px 15px transparentize(#eee, .1);

  $self: &;

  &__body {}

  &__row {
    &:hover {
      background: rgb(252, 252, 252);
    }
  }

  &__head {
    text-align: left;
    background: rgb(235, 235, 235);

    #{$self}__row {
      background: rgb(235, 235, 235);
    }
  }

  &__col {}

  &__label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
  }

  &__col,
  &__label {
    border: 1px solid darken(#fff, 10%);
    padding: 10px 15px;
  }
}

/**
 Custom
*/
.layout {
  padding: 20px 0;
  float: left;
  width: 100%;
}

.header {
  display: inline-block;
  background: map-get($colors, secondary);
  color: #fff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 0px 15px transparentize(map-get($colors, secondary), .05);

  a {
    color: #fff;
    
    &:hover,
    &:active,
    &:focus {
      color: darken(#fff, 5%);
    }
  }

  .badge {
    background: map-get($colors, primary);
    position: relative;
    margin-left: 5px;
  }
}

.logo {
  display: inline-block;
  margin: 0 40px 0 0;
  position: relative;

  &:after {
    content: '';
    width: 0px;
    border-left: 5px dotted transparentize(map-get($colors, primary), .7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: -32px;
  }
}

.nav {
  display: inline-block;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;

    a {
      padding: 0 15px;
      
      &.active {
        color: map-get($colors, primary);
      }
    }
  }
}

.notFound {
  text-align: center;
  color: map-get($colors, secondary);
  position: relative;
  width: 100%;
  display: table;
  height: 80vh;

  &__content {
    display: table-cell;
    vertical-align: middle;
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
    margin: 30px 0 0;
  }

  h6 {
    font-size: 16px;
    font-weight: 100;
    margin: 15px 0;
  }
}

.sidebar {
  border: 1px solid darken(#fff, 5%);
  box-shadow: 0px 0px 15px transparentize(#eee, .1);
  padding: 20px;

  $self : &;

  &__header {
    position: relative;
    padding: 0;
    margin: 0 0 25px;
    font-size: 17px;
    text-transform: uppercase;

    span {
      position: relative;
      display: inline-block;

      &:after {
        content: '';
        border-top: 2px solid map-get($colors, primary);
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px; 
      }
    }

    &:after {
      content: '';
      border-top: 2px solid transparentize(map-get($colors, primary), .7);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: map-get($colors, secondary);
      padding: 5px 40px 5px 0;
      display: block;
      position: relative;

      &.active {
        color: map-get($colors, primary);

        #{$self}__badge {
          background: map-get($colors, primary);
        }
      }

      &:hover,
      &:active,
      &:focus {
        color: map-get($colors, primary);

        #{$self}__badge {
          background: map-get($colors, primary);
        }
      }
    }
  }

  &__badge {
    position: absolute;
    right: 0;
    top: 10px;
    background: #bbb;
    transition: all .2s ease-in-out;
  }
}

.headline {
  position: relative;
  padding: 0;
  margin: 0 0 25px;
  font-size: 17px;
  text-transform: uppercase;

  span {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      border-top: 2px solid map-get($colors, primary);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px; 
    }
  }

  &:after {
    content: '';
    border-top: 2px solid transparentize(map-get($colors, primary), .7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
  }
}

.product {
  border: 1px solid darken(#fff, 5%);
  box-shadow: 0px 0px 15px transparentize(#eee, .1);
  margin-bottom: 20px;

  $self : &;

  &__image {
    overflow: hidden;
    height: 200px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      transition: all .2s ease-in-out;
    }
  }

  &:hover {
    #{$self}__image {
      overflow: hidden;
      height: 200px;
  
      img {
        transform: scale(1.2);
      }
    }
  }

  &__content {
    padding: 20px;

    h3 {
      margin: 0 0 -5px;
      height: 46px;
      overflow: hidden;
    }

    p {
      font-size: 14px;
      line-height: 150%;
    }

    .btn {
      width: 100%;
      text-align: center;
      padding: 8px;
    }
  }
}

.footer {
  text-align: center;
  float: left;
  width: 100%;
  border-top: 1px solid darken(#fff, 10%);
  color: darken(#fff, 50%);
  font-size: 14px;
  padding: 20px 0;
}

.cart {
  .headline {
    margin-bottom: 35px;
  }

  &__list {
    input {
      background: transparent;
      border: none;
    }
  }

  .btn {
    margin: 0;
  }
  
  &__summary {
    ul {
      margin: 0 0 0 18px;
      padding: 0;
    }
  
    a {
      margin: 15px 0;
      padding: 8px;
      width: 100%;
      text-align: center;
    }

    .btn {
      margin-top: 15px;
      width: 100%;
    }
  }
}

.product-page {
  h3 {
    margin-top: 15px;
  }

  label {
    display: inline-block;
  }

  input {
    width: 70px;
    padding: 8px;
    text-align: center;
    margin-right: 5px;
  }

  form {
    display: block;
    margin-top: 15px;
  }
}

.price {
  font-size: 30px;
  font-weight: 900;
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  span {
    font-size: 14px;
    font-weight: 100;
  }
}

.alertsContainer {
  margin-bottom: 15px;
}